-- MySQL dump 10.13  Distrib 8.0.43, for Win64 (x86_64)
--
-- Host: localhost    Database: DGSpace
-- ------------------------------------------------------
-- Server version	8.0.43

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `admins`
--

DROP TABLE IF EXISTS `admins`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `admins` (
  `email` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `password_hash` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `full_name` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `email_verified` tinyint(1) DEFAULT '0',
  `role` enum('super_admin','admin','moderator') COLLATE utf8mb4_unicode_ci DEFAULT 'admin',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `last_login` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`email`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `admins`
--

LOCK TABLES `admins` WRITE;
/*!40000 ALTER TABLE `admins` DISABLE KEYS */;
INSERT INTO `admins` VALUES ('chenghaoxu@sandiego.edu','$2b$12$INPpESSTqzg44hUg5yV1G.28.IDx0WowDZD3ABPYLx2uW54TI7d/G','Chenghao Xu',1,'super_admin','2026-02-03 19:14:48','2026-03-24 21:52:10','2026-03-24 21:52:10');
/*!40000 ALTER TABLE `admins` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `email_verification_codes`
--

DROP TABLE IF EXISTS `email_verification_codes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `email_verification_codes` (
  `email` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `user_type` enum('student','admin') COLLATE utf8mb4_unicode_ci NOT NULL,
  `verification_code` varchar(6) COLLATE utf8mb4_unicode_ci NOT NULL,
  `expires_at` timestamp NOT NULL,
  `is_used` tinyint(1) DEFAULT '0',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`email`,`user_type`),
  KEY `idx_code` (`verification_code`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `email_verification_codes`
--

LOCK TABLES `email_verification_codes` WRITE;
/*!40000 ALTER TABLE `email_verification_codes` DISABLE KEYS */;
INSERT INTO `email_verification_codes` VALUES ('404@402.com','student','016118','2026-02-21 09:49:31',1,'2026-02-21 09:34:30'),('newuser@test.com','student','912782','2026-02-18 07:32:12',0,'2026-02-18 07:17:12'),('test@test.com','student','084042','2026-03-12 21:00:33',1,'2026-03-12 20:45:32'),('xchjames21@gmail.com','student','155124','2026-02-18 08:10:39',1,'2026-02-18 07:55:39');
/*!40000 ALTER TABLE `email_verification_codes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `password_reset_tokens`
--

DROP TABLE IF EXISTS `password_reset_tokens`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `password_reset_tokens` (
  `email` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `user_type` enum('student','admin') COLLATE utf8mb4_unicode_ci NOT NULL,
  `reset_token` varchar(64) COLLATE utf8mb4_unicode_ci NOT NULL,
  `expires_at` timestamp NOT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`email`,`user_type`),
  KEY `idx_token` (`reset_token`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `password_reset_tokens`
--

LOCK TABLES `password_reset_tokens` WRITE;
/*!40000 ALTER TABLE `password_reset_tokens` DISABLE KEYS */;
/*!40000 ALTER TABLE `password_reset_tokens` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `print_logs_normalized`
--

DROP TABLE IF EXISTS `print_logs_normalized`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `print_logs_normalized` (
  `id` int NOT NULL AUTO_INCREMENT,
  `raw_log_id` int NOT NULL,
  `batch_id` varchar(36) COLLATE utf8mb4_unicode_ci NOT NULL,
  `row_index` int NOT NULL,
  `student_email` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `student_name` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `operator_name` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `printer_name` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `print_time_raw` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `print_time_minutes` decimal(10,2) DEFAULT NULL,
  `slicer_time_minutes` decimal(10,2) DEFAULT NULL,
  `started_at` datetime DEFAULT NULL,
  `finished_at` datetime DEFAULT NULL,
  `material_used_g` decimal(10,2) DEFAULT NULL,
  `slicer_material_g` decimal(10,2) DEFAULT NULL,
  `is_finished` tinyint(1) DEFAULT NULL,
  `error_1` varchar(500) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `error_2` varchar(500) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `file_name` varchar(500) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `error_flag` tinyint(1) NOT NULL DEFAULT '0',
  `error_reason` text COLLATE utf8mb4_unicode_ci,
  `imported_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_norm_row` (`row_index`),
  KEY `fk_norm_raw` (`raw_log_id`),
  KEY `idx_printer` (`printer_name`),
  KEY `idx_operator` (`operator_name`),
  KEY `idx_started_at` (`started_at`),
  KEY `idx_student_email` (`student_email`),
  KEY `idx_batch` (`batch_id`),
  CONSTRAINT `fk_norm_raw` FOREIGN KEY (`raw_log_id`) REFERENCES `print_logs_raw` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=10667 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `print_logs_normalized`
--

LOCK TABLES `print_logs_normalized` WRITE;
/*!40000 ALTER TABLE `print_logs_normalized` DISABLE KEYS */;
/*!40000 ALTER TABLE `print_logs_normalized` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `print_logs_raw`
--

DROP TABLE IF EXISTS `print_logs_raw`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `print_logs_raw` (
  `id` int NOT NULL AUTO_INCREMENT,
  `batch_id` varchar(36) COLLATE utf8mb4_unicode_ci NOT NULL,
  `row_index` int NOT NULL,
  `student_email` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `student_name` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `operator_name` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `printer_name` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `print_time_raw` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `material_used_raw` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `started_at_raw` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `is_finished_raw` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `actual_finish_raw` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `error_1_raw` varchar(500) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `error_2_raw` varchar(500) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `file_name_raw` varchar(500) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `raw_json` json DEFAULT NULL,
  `imported_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_raw_row` (`row_index`)
) ENGINE=InnoDB AUTO_INCREMENT=10667 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `print_logs_raw`
--

LOCK TABLES `print_logs_raw` WRITE;
/*!40000 ALTER TABLE `print_logs_raw` DISABLE KEYS */;
/*!40000 ALTER TABLE `print_logs_raw` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `print_request_history`
--

DROP TABLE IF EXISTS `print_request_history`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `print_request_history` (
  `history_id` int NOT NULL AUTO_INCREMENT,
  `request_id` int NOT NULL,
  `old_status` enum('pending','approved','rejected','in_progress','completed','cancelled','revision_requested') COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `new_status` enum('pending','approved','rejected','in_progress','completed','cancelled','revision_requested') COLLATE utf8mb4_unicode_ci NOT NULL,
  `changed_by` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `change_reason` text COLLATE utf8mb4_unicode_ci,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`history_id`),
  KEY `idx_request_id` (`request_id`),
  KEY `idx_created_at` (`created_at`),
  CONSTRAINT `print_request_history_ibfk_1` FOREIGN KEY (`request_id`) REFERENCES `print_requests` (`request_id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=22 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `print_request_history`
--

LOCK TABLES `print_request_history` WRITE;
/*!40000 ALTER TABLE `print_request_history` DISABLE KEYS */;
/*!40000 ALTER TABLE `print_request_history` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `print_requests`
--

DROP TABLE IF EXISTS `print_requests`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `print_requests` (
  `request_id` int NOT NULL AUTO_INCREMENT,
  `student_email` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `project_name` varchar(200) COLLATE utf8mb4_unicode_ci NOT NULL,
  `description` text COLLATE utf8mb4_unicode_ci,
  `file_path` varchar(500) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `material_type` enum('PLA','ABS','PETG','TPU','Nylon','Other') COLLATE utf8mb4_unicode_ci DEFAULT 'PLA',
  `color_preference` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `is_senior_design` tinyint(1) NOT NULL DEFAULT '0',
  `project_context` enum('class','individual') COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'individual',
  `estimated_weight_grams` decimal(10,2) DEFAULT NULL,
  `estimated_print_time_hours` decimal(10,2) DEFAULT NULL,
  `priority` enum('low','normal','high','urgent') COLLATE utf8mb4_unicode_ci DEFAULT 'normal',
  `stl_file_path` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `stl_original_name` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `ufp_file_path` varchar(500) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `ufp_original_name` varchar(500) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `ufp_print_time_minutes` decimal(10,2) DEFAULT NULL,
  `ufp_material_g` decimal(10,2) DEFAULT NULL,
  `status` enum('pending','approved','rejected','in_progress','completed','cancelled','revision_requested') COLLATE utf8mb4_unicode_ci DEFAULT 'pending',
  `admin_notes` text COLLATE utf8mb4_unicode_ci,
  `reviewed_by` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `reviewed_at` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `completed_at` timestamp NULL DEFAULT NULL,
  `slicer_time_minutes` decimal(10,2) DEFAULT NULL COMMENT 'Cura estimated print time (minutes), required on new requests',
  `slicer_material_g` decimal(10,2) DEFAULT NULL COMMENT 'Cura estimated material usage (grams), optional',
  `deadline_date` date DEFAULT NULL COMMENT 'Optional project deadline set by student',
  PRIMARY KEY (`request_id`),
  KEY `idx_student_email` (`student_email`),
  KEY `idx_status` (`status`),
  KEY `idx_priority` (`priority`),
  KEY `idx_created_at` (`created_at`),
  KEY `idx_reviewed_by` (`reviewed_by`),
  KEY `idx_deadline_date` (`deadline_date`),
  CONSTRAINT `print_requests_ibfk_1` FOREIGN KEY (`student_email`) REFERENCES `students` (`email`) ON DELETE CASCADE,
  CONSTRAINT `print_requests_ibfk_2` FOREIGN KEY (`reviewed_by`) REFERENCES `admins` (`email`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=23 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `print_requests`
--

LOCK TABLES `print_requests` WRITE;
/*!40000 ALTER TABLE `print_requests` DISABLE KEYS */;
/*!40000 ALTER TABLE `print_requests` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `printers`
--

DROP TABLE IF EXISTS `printers`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `printers` (
  `printer_id` int NOT NULL AUTO_INCREMENT,
  `printer_name` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `model` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `location` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `status` enum('active','maintenance','retired') COLLATE utf8mb4_unicode_ci DEFAULT 'active',
  `notes` text COLLATE utf8mb4_unicode_ci,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`printer_id`),
  UNIQUE KEY `printer_name` (`printer_name`),
  KEY `idx_status` (`status`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `printers`
--

LOCK TABLES `printers` WRITE;
/*!40000 ALTER TABLE `printers` DISABLE KEYS */;
INSERT INTO `printers` VALUES (1,'Ultimaker 3 -2','Ultimaker 3','DGSpace','active',NULL,'2026-03-18 23:47:09','2026-03-18 23:47:09'),(2,'Ultimaker 3 -1','Ultimaker 3','DGSpace','maintenance',NULL,'2026-03-19 00:31:14','2026-03-19 00:31:14');
/*!40000 ALTER TABLE `printers` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `students`
--

DROP TABLE IF EXISTS `students`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `students` (
  `email` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `password_hash` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `full_name` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `email_verified` tinyint(1) DEFAULT '0',
  `department` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `role` enum('student','student_staff') COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'student',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `last_login` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`email`),
  KEY `idx_students_role` (`role`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `students`
--

LOCK TABLES `students` WRITE;
/*!40000 ALTER TABLE `students` DISABLE KEYS */;
INSERT INTO `students` VALUES ('404@402.com','$2b$12$2aKw9Q8bVzpxaFFGb8iBn..KEOOzBJ6kIMQDVFcvh3IX3mU8EZjg.','aaaaaaa',1,'cs','student','2026-02-21 09:34:30','2026-03-12 21:54:55','2026-02-21 09:35:18'),('test@test.com','$2b$12$GO3AFT5j7iD1Y4/FHbaN/OKRPXwdAjntuXJ4/EpPgjIEMD2tvRhj.','cx',1,'','student_staff','2026-03-12 20:44:22','2026-03-12 21:02:27','2026-03-12 21:02:27'),('xchjames21@gmail.com','$2b$12$5tuVXMS9lAGONsz2ZrC50.LI4tWZcKyXXdqBI/b5l0OHdj9hAPNwa','jx',1,'cs','student','2026-02-18 07:55:39','2026-03-12 00:24:15','2026-03-12 00:24:15');
/*!40000 ALTER TABLE `students` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `totp_secrets`
--

DROP TABLE IF EXISTS `totp_secrets`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `totp_secrets` (
  `email` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `user_type` enum('student','admin') COLLATE utf8mb4_unicode_ci NOT NULL,
  `secret` varchar(64) COLLATE utf8mb4_unicode_ci NOT NULL,
  `is_active` tinyint(1) DEFAULT '0',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`email`,`user_type`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `totp_secrets`
--

LOCK TABLES `totp_secrets` WRITE;
/*!40000 ALTER TABLE `totp_secrets` DISABLE KEYS */;
/*!40000 ALTER TABLE `totp_secrets` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-03-25 14:46:51
